.xuanzewenjian{
    width: 200px;
    height: 50px;
    background-color: rgba(100, 51, 112, 0.5);
    margin: 50px auto;
}
.shangchuanwenjian{
    width: 200px;
    height: 50px;
    background-color: rgba(100, 51, 112, 0.5);
    margin: 50px auto;
}
